In [1]:
import yfinance as yf
import pandas as pd

In [8]:
df = yf.download(tickers='AAPL', start='1y', actions=True)
df

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAPL']: ValueError("time data '1y' does not match format '%Y-%m-%d'")

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [7]:
df.loc['2024':]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,187.149994,188.440002,183.889999,185.639999,184.938217,82488700
2024-01-03,184.220001,185.880005,183.429993,184.250000,183.553482,58414500
2024-01-04,182.149994,183.089996,180.880005,181.910004,181.222336,71983600
2024-01-05,181.990005,182.759995,180.169998,181.179993,180.495071,62303300
2024-01-08,182.089996,185.600006,181.500000,185.559998,184.858521,59144500
...,...,...,...,...,...,...
2024-09-19,224.990005,229.820007,224.630005,228.869995,228.869995,66781300
2024-09-20,229.970001,233.089996,227.619995,228.199997,228.199997,318679900
2024-09-23,227.339996,229.449997,225.809998,226.470001,226.470001,54146000
2024-09-24,228.649994,229.350006,225.729996,227.369995,227.369995,43556100
2024-09-25,224.929993,227.289993,224.029999,226.369995,226.369995,40779133

In [9]:
stock = yf.Ticker('AAPL')

In [17]:
stock.dividends.loc['2022':].sum()

2.5999999999999996