In [9]:
import yfinance as yf
import pandas as pd

In [34]:
df = yf.Ticker("ITX.MC").history(period="5y", interval="1d")
df = df[df["Dividends"] > 0]
tick = yf.download("ITX.MC", period="5y", interval="1d")

[*********************100%***********************]  1 of 1 completed

In [25]:
df = df[df['Dividends'] > 0]
df['Dividends']

Date
2019-11-29 00:00:00-05:00    0.400
2020-03-13 00:00:00-04:00    0.410
2020-06-12 00:00:00-04:00    0.410
2020-09-14 00:00:00-04:00    0.410
2020-11-30 00:00:00-05:00    0.410
2021-03-12 00:00:00-05:00    0.420
2021-06-14 00:00:00-04:00    0.420
2021-09-14 00:00:00-04:00    0.420
2021-11-30 00:00:00-05:00    0.420
2022-03-14 00:00:00-04:00    0.440
2022-06-14 00:00:00-04:00    0.440
2022-09-15 00:00:00-04:00    0.440
2022-11-30 00:00:00-05:00    0.440
2023-03-16 00:00:00-04:00    0.460
2023-06-15 00:00:00-04:00    0.460
2023-09-14 00:00:00-04:00    0.460
2023-11-30 00:00:00-05:00    0.460
2024-03-14 00:00:00-04:00    0.485
2024-06-14 00:00:00-04:00    0.485
2024-09-13 00:00:00-04:00    0.485
Name: Dividends, dtype: float64

In [26]:
df.loc['2024':]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-14 00:00:00-04:00,59.704250,59.921067,59.526851,59.625404,13996600,0.485,0.0
2024-06-14 00:00:00-04:00,61.955259,62.263146,61.667233,62.124100,8179200,0.485,0.0
2024-09-13 00:00:00-04:00,70.839996,71.470001,70.480003,71.410004,11073800,0.485,0.0

In [13]:
stock = yf.Ticker('AMZN')
hist = stock.history(period='10y')
df = pd.DataFrame(hist)

In [14]:
df['Dividends'] = df['Dividends'].round(4)
df.sort_values(by='Date', ascending=False, inplace=True)
df[df['Dividends'] > 0]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [15]:
df.resample('6M').mean()

C:\Users\Carlo\AppData\Local\Temp\ipykernel_25532\1652499239.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('6M').mean()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-11-30 00:00:00-05:00,16.752800,16.879600,16.641300,16.755200,5.928480e+07,0.0,0.00000
2015-05-31 00:00:00-04:00,18.161573,18.366379,17.990702,18.169964,7.300247e+07,0.0,0.00000
2015-11-30 00:00:00-05:00,26.379090,26.653656,26.056914,26.366750,7.830009e+07,0.0,0.00000
2016-05-31 00:00:00-04:00,30.744872,31.119996,30.335008,30.752400,9.721942e+07,0.0,0.00000
2016-11-30 00:00:00-05:00,38.341484,38.585539,38.034848,38.317488,6.994722e+07,0.0,0.00000
2017-05-31 00:00:00-04:00,42.716649,42.985500,42.449105,42.753536,6.878627e+07,0.0,0.00000
2017-11-30 00:00:00-05:00,50.680906,51.018219,50.218512,50.638340,7.377039e+07,0.0,0.00000
2018-05-31 00:00:00-04:00,71.213778,71.931782,70.305355,71.185157,1.006211e+08,0.0,0.00000
2018-11-30 00:00:00-05:00,89.681316,90.663805,88.441449,89.563082,1.089054e+08,0.0,0.00000
2019-05-31 00:00:00-04:00,85.971805,86.886955,84.948886,85.963789,1.056971e+08,0.0,0.00000
2019-11-30 00:00:00-05:00,91.200366,91.813941,90.406394,91.154705,6.476789e+07,0.0,0.00000
2020-05-31 00:00:00-04:00,101.499484,102.898654,100.295214,101.695512,9.941311e+07,0.0,0.00000
2020-11-30 00:00:00-05:00,153.783941,155.839554,151.309476,153.594609,9.715200e+07,0.0,0.00000
2021-05-31 00:00:00-04:00,161.150044,162.729464,159.339940,160.909698,7.280703e+07,0.0,0.00000
2021-11-30 00:00:00-05:00,171.285648,172.952266,169.774633,171.394313,6.493578e+07,0.0,0.00000
2022-05-31 00:00:00-04:00,150.186372,152.423416,147.392837,149.816344,7.883090e+07,0.0,0.00000
2022-11-30 00:00:00-05:00,116.876378,118.965189,114.739087,116.819331,7.071524e+07,0.0,0.15748
2023-05-31 00:00:00-04:00,98.748307,100.247016,97.307661,98.894839,6.809120e+07,0.0,0.00000
2023-11-30 00:00:00-05:00,133.267323,134.807559,131.738347,133.310552,5.419412e+07,0.0,0.00000
2024-05-31 00:00:00-04:00,169.674560,171.330000,167.992720,169.732880,4.352629e+07,0.0,0.00000
2024-11-30 00:00:00-05:00,186.544750,188.438834,184.308500,186.514500,4.024213e+07,0.0,0.00000

In [16]:
df[df['Stock Splits'] > 0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-06 00:00:00-04:00,125.25,128.990005,123.809998,124.790001,135269000,0.0,20.0